table {
    border-spacing: 10px;
  
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid #a37d35;
  
    background-color: #dea646;
  }
  
  td {
    font-size: 18px;
    text-align: center;
  
    width: 70px;
    height: 70px;
  
    border-radius: 12px;
    border: 2px solid black;
    background: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
  }

  td {
    font-size: 50px;
    text-align: center;
  
    width: 70px;
    height: 70px;
  
    border-radius: 12px;
    border: 2px solid black;
    background: #ffffff;
    transition: all 0.3s;
    cursor: pointer;
  }

  td img {
    /* font-size: 50px; */
    text-align: center;
  
    width: 70px;
    height: 70px;
    border-radius: 12px;
    transition: all 0.3s;
    cursor: pointer;

  }

  .GROUND {
    background-color: red
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }

  button {
    height: 60px;
    width: 100px;
    margin: 20px;
  }

  td img {
    display: block;
    margin: auto;
    width: 100%;     /* This will make the image use the full width of the cell */
    height: 100%;    /* This will make the image use the full height of the cell */
    object-fit: contain; /* Ensures the image's aspect ratio is maintained */
    border-radius: 12px;  /* Keeps the styling consistent with the cell */
}

.hint-glow {
  box-shadow: rgb(229, 255, 0) 0 0 30px 3px;
  background: rgba(229, 255, 0, 0.315);
}